@model IEnumerable<PTPMQL.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Đăng Nhập</h1>

<p>
    <a asp-action="Create">Đăng Ký mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td> 
                <a asp-action="Details" asp-route-id="@item.UserName">Details</a>|
                <a asp-action="Delete" asp-route-id="@item.UserName">Delete</a>|
                <a asp-action="Edit" asp-route-id="@item.UserName">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
